<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unrecognized Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/none_styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>This item is... None?!</h1>
        </header>
        <div class="content">
            <p>The AI detected the type of item you uploaded to be <span class="material">{{ material }}</span>.</p>
            <p>This seems to be a living being, such as an animal or a human. Please do not dispose of living beings in the trash, recycling, or compost bins. Contact your local authorities if needed.</p>
        </div>
    </div>
</body>
</html>
