<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recyclable Materials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recycling_styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>This item is: Recyclable!</h1>
        </header>
        <div class="content">
            <p>The AI detected the type of trash you uploaded to be <span class="material">{{ material }}</span>.</p>
            <p>Recycle this item by placing it in your recycling bin. Be sure to clean and dry it to avoid contamination!</p>
        </div>
    </div>
</body>
</html>
